.footer {
  .footer-content {
    padding: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 769px){
      flex-direction: column; 
      justify-content: center;
    }
    a {
      text-decoration: none;
    }
    .insta {
      width: 2.5%;
      @media only screen and (max-width: 769px){
        width: 8%;
      }
      img {
        width: 100%;
      }
    }
  }
}